---
title: ""
layout: splash
permalink: /
header:
  overlay_image: /images/logos/neurotidal-symbol.webp



gallery:
- url: /images/photos/neurotidal-band-one.webp
  image_path: /images/photos/neurotidal-band-one.webp
  alt: NeuroTidal Bandphoto
- url: /images/photos/neurotidal-band-two.webp
  image_path: /images/photos/neurotidal-band-two.webp
  alt: NeuroTidal Bandphoto
- url: /images/photos/neurotidal-band-three.webp
  image_path: /images/photos/neurotidal-band-three.webp
  alt: NeuroTidal Bandphoto

---




<!--
#############
actual content starts here
#############
-->



<img src="/images/logos/neurotidal-logo.webp" alt="NeuroTidal Logo" class="margin-bottom">


<h1 class="margin-bottom" style="font-size: 2em;"> audiovisual art</h1>


<div class="text-box margin-bottom">
  Genre boundaries between Pop and Metal crumble against the unyielding rocks of the mainstream. Oceana, the luminary vocalist, effortlessly traverses from ethereal melodies to visceral roars, seamlessly entwined with the commanding resonance of guitars and synthesizers, as well as the intricate dance of basslines and drum rhythms. As the musical landscape unfolds, it morphs into pulsating dance sections infused with a pop sensibility.
<br><br>
  Breaking free from the shackles of Rock norms and conventions, NeuroTidal propels its audience into an exhilarating sonic odyssey of self-discovery. The band deftly weaves together diverse influences, embracing the nuances of Jazz, Post Rock's expansiveness, and Progressive Metal's complexity, culminating in an unmistakably unique sound.
<br><br>
  A NeuroTidal live performance is a sensory spectacle, where a distinct ambiance is meticulously crafted. A seamlessly coordinated light show, complemented by blacklight elements, adds a profound layer to the audiovisual tapestry, elevating the concert experience to unparalleled immersion and distinction.

</div>





<!--
#############
Live
#############
-->

<span id="live"></span>
<div class="margin-bottom">
{% include video id="nTy3ASz8Kzo" provider="youtube" %}
</div>




<!--
#############
Gallery
#############
-->

<span id="gallery"></span>
{% include gallery layout='' %}







<!--
#############
Merch
#############
-->

<span id="merch"></span>

<figure class="merch">
  <a href="https://goldkind.bigcartel.com/" rel="noopener noreferrer nofollow" target="_blank"> <img src="/images/merch/beanie-avio.webp" alt="neurotidal bandmerch beanie avio"> </a>
  <a href="https://goldkind.bigcartel.com/" rel="noopener noreferrer nofollow" target="_blank"> <img src="/images/merch/beanie-black.webp" alt="neurotidal bandmerch beanie black"> </a>
  <a href="https://goldkind.bigcartel.com/" rel="noopener noreferrer nofollow" target="_blank"> <img src="/images/merch/shirt-black.webp" alt="neurotidal bandmerch shirt black"> </a>
</figure>




<!--
#############
Tourdates
#############
-->

<span id="tourdates"></span>

















<!-- START of the part that you might want to edit -->



<div class="">
  <!-- SET THIS TO class="hidden" to remove the whole tour-date section, set back to class="" to show again -->

<div class="tour-date">
  <p>Date & Time</p>
  <h3>City, Country</h3>
  <p>Event Location</p>
  <a class="btn btn-neurotidal" href="https://perstarke-webdev.de" rel="noopener noreferrer nofollow" target="_blank">Get Your Tickets</a>
</div>

<div class="tour-date">
  <p>Date & Time</p>
  <h3>City, Country</h3>
  <p>Event Location</p>
  <a class="btn btn-neurotidal" href="https://perstarke-webdev.de" rel="noopener noreferrer nofollow" target="_blank">Get Your Tickets</a>
</div>

<div class="tour-date">
  <p>Date & Time</p>
  <h3>City, Country</h3>
  <p>Event Location</p>
  <a class="btn btn-neurotidal" href="https://perstarke-webdev.de" rel="noopener noreferrer nofollow" target="_blank">Get Your Tickets</a>
</div>



<!-- END of the part that you might want to edit -->






<div class="margin-bottom"></div>
</div>











<!--
#############
Instagram
#############
-->

<span id="instagram"></span>

<style>
    .sk-instagram-feed-container {
      max-width: 100vw;
      margin: 0 auto;
      overflow: hidden;
    }

    .sk-instagram-feed {
      width: 100%;
    }
  </style>

<div class='sk-instagram-feed-container'>
  <div class='sk-instagram-feed' data-embed-id='25349795'></div>
</div>
<script src='https://widgets.sociablekit.com/instagram-feed/widget.js' async defer></script>
<script>
    // Function to adjust the parent's height
    function adjustParentHeight() {
        var childElement = document.querySelector('.sk-instagram-feed');
        if (childElement) {
            var parentElement = document.querySelector('.sk-instagram-feed-container');

            // Adjust height based on window width
            var heightAdjustment = (window.innerWidth <= 767) ? -40 : -38;

            parentElement.style.height = (childElement.offsetHeight + heightAdjustment) + 'px';
        }
    }

    // Create a MutationObserver to watch for changes in the DOM
    var observer = new MutationObserver(function(mutationsList) {
        for (var mutation of mutationsList) {
            if (mutation.type === 'childList' || mutation.type === 'attributes') {
                // Content has changed, or attributes have changed
                adjustParentHeight();
            }
        }
    });

    // Configure the observer to monitor changes to the DOM within a specific container
    var containerElement = document.querySelector('.sk-instagram-feed-container');
    var config = { childList: true, attributes: true, subtree: true };
    observer.observe(containerElement, config);

    // Initially adjust the height
    adjustParentHeight();
</script>





<br><br><br><br><br>



